body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-view-wrapper{
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 5%;
}

.text-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.margin-top-5{
  margin-top: 5%;
}

.button-center{
  margin:auto!important;
  display: block!important;
}

@media only screen and (max-width: 600px) {
  .order-sort-dropdown{
    margin-left: auto;
    margin-right: auto;
  }
}